body {
  background-image: url("images/relaxing.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.neonText {
  color: #fff;
  font-size: 80px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(169, 25, 226), 0 0 82px rgb(150, 23, 241),
    0 0 92px rgb(155, 26, 224), 0 0 102px rgb(167, 29, 227),
    0 0 151px rgb(153, 27, 226);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.card {
  /* margin-right: 20px; */
  max-width: 100%;
}

#user-section {
  margin-bottom: auto;
}

.flex-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
